<div class="page-heading text-center">

  <div class="container zoomIn animated">

    <h1 class="page-title">OUR CAUSES
      <span class="title-under"></span>
    </h1>
    <p class="page-description">
      We believe that if there is one fund in which Indians should donate, it is Save the Children
    </p>

  </div>

</div>

<div class="main-container">

  <div class="our-causes fadeIn animated">

    <div class="container">

      <h2 class="title-style-1">Our Causes
        <span class="title-under"></span>
      </h2>

      <div class="row">


        <div class="col-md-3 col-sm-6">

          <div class="cause">

            <img src="assets/images/causes/cause-hunger.jpg" alt="" class="cause-img">

            <div class="progress cause-progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: auto;">
                <span style="padding-left: 10px;padding-right: 10px">₹10000 /₹25000</span>
              </div>
            </div>

            <h4 class="cause-title">
              <a href="#">HUNGER AND POVERTY </a>
            </h4>
            <div class="cause-details">
              <p> 98% of the world’s undernourished people live in developing countries. Asia: 519.6 million.</p>
              <p>Nearly half of all deaths in children under 5 are attributable to under-nutrition.</p>

            </div>

            <div class="btn-holder text-center">

              <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal"> DONATE NOW</a>

            </div>



          </div>
          <!-- /.cause -->

        </div>

        <div class="col-md-3 col-sm-6">

          <div class="cause">

            <img src="assets/images/causes/cause-education.jpg" alt="" class="cause-img">

            <div class="progress cause-progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: auto;">
                <span style="padding-left: 10px;padding-right: 10px">₹30000 / ₹50000</span>
              </div>
            </div>

            <h4 class="cause-title">
              <a href="#">EDUCATION AND TRAINING</a>
            </h4>
            <div class="cause-details">
              Education is the single most important factor in breaking the cycle of poverty. With proper education and training an orphan
              is empowered to become a healthy, happy, income-producing person.
            </div>

            <div class="btn-holder text-center">

              <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal"> DONATE NOW</a>

            </div>



          </div>
          <!-- /.cause -->

        </div>


        <div class="col-md-3 col-sm-6">

          <div class="cause">

            <img src="assets/images/causes/cause-rights.jpg" alt="" class="cause-img">

            <div class="progress cause-progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: auto;">
                <span style="padding-left: 10px;padding-right: 10px">25000 / ₹70000</span>
              </div>
            </div>

            <h4 class="cause-title">
              <a href="#">HUMAN RIGHTS</a>
            </h4>
            <div class="cause-details">
              Human rights are the basic rights and freedoms that belong to every person in the world, from birth until death. They apply
              regardless of where you are from, what you believe or how you choose to live your life.
            </div>

            <div class="btn-holder text-center">

              <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal"> DONATE NOW</a>

            </div>



          </div>
          <!-- /.cause -->

        </div>

        <div class="col-md-3 col-sm-6">

          <div class="cause">

            <img src="assets/images/causes/cause-culture.jpg" alt="" class="cause-img">

            <div class="progress cause-progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: auto;">
                <span style="padding-left: 10px;padding-right: 10px"> ₹25000 / ₹70000</span>
              </div>
            </div>

            <h4 class="cause-title">
              <a href="#">ARTS AND CULTURE </a>
            </h4>
            <div class="cause-details">
              Culture plays an important role in the development of any nation. It represents a set of shared attitudes, values, goals
              and practices. Culture and creativity manifest themselves in almost all economic, social and other activities.
            </div>

            <div class="btn-holder text-center">

              <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal"> DONATE NOW</a>

            </div>



          </div>
          <!-- /.cause -->

        </div>





      </div>


    </div>

  </div>

</div>
<!-- /.our-causes -->




<!-- </div> -->
<!-- /.main-container  -->
