
    <footer class="main-footer">

      <div class="footer-top">

      </div>


      <div class="footer-main">
          <div class="container">

              <div class="row">
                  <div class="col-md-4">

                      <div class="footer-col">

                          <h4 class="footer-title">About us <span class="title-under"></span></h4>

                          <div class="footer-content">

                              <p>
                                  <strong>Sadaka</strong> Project is a 501(c)(3) tax exempt nonprofit organization with a mission to heal critically ill children and
                                  build healthcare capacity in the world.
                              </p>
                              <p>
                                  We help mothers and children survive and thrive so they can look forward to a healthy old age.
                                  We ensure the safety of the air people breathe, the food they eat, the water they drink – and the medicines and vaccines they need.
                              </p>
                              <p>
                                  Our core function is to direct and coordinate international health work through collaboration.
                              </p>
                              <p>
                                  We support countries as they coordinate the efforts of governments and partners – including bi- and multilaterals, funds and foundations,
                                  civil society organizations and the private sector.
                              </p>
                              <p>
                                  Promoting good health through the life-course cuts across all work done by Sadaka, and takes into account the need to address environment risks and social determinants of health, as well as gender, equity and human rights.
                              </p>
                          </div>

                      </div>

                  </div>

                  <div class="col-md-4">

                      <div class="footer-col">

                          <h4 class="footer-title">LAST TWEETS <span class="title-under"></span></h4>

                          <div class="footer-content">
                              <ul class="tweets list-unstyled">
                                  <li class="tweet">
                                        Skyler Jay
                                          @TransGinger_
                                          Follow Follow @TransGinger_
                                          More
                                          For those of you who have been asking how to directly help me with my medical debt, 1st thank you, you’re all angels & 2nd here’s the link. 😁 You can also find the link in my profile.  #donations #queereye #community
                                          https://twitter.com/TransGinger_

                                                                              </li>

                                  <li class="tweet">

                                      @givens
                                      ‏

                                      @givens_k_
                                      Follow Follow @givens_k_
                                      More
                                      Mikaelafoundation#28thJuly#RoyalSeeedOrphanage😍#Donations https://twitter.com/givens_k_
                                  </li>

                                  <li class="tweet">

                                      AidBoxCommunity
‏

                                          @AidBoxCommunity
                                          Follow Follow @AidBoxCommunity
                                          More
                                          So much love to @Stolenbodyrecs for raising an incredible £600 at @bristol_psych for #AidBoxCommunity. It’s people like this that allow us to do what we do, so THANK YOU 👏😍🙏 #Donations https://twitter.com/hashtag/AidBoxCommunity?src=hash

                                  </li>

                              </ul>
                          </div>

                      </div>

                  </div>


                  <div class="col-md-4">

                      <div class="footer-col">

                          <h4 class="footer-title">Contact us <span class="title-under"></span></h4>

                          <div class="footer-content">

                              <div class="footer-form">

                                  <div class="footer-form" >

                                  <form action="php/mail.php" class="ajax-form">

                                      <div class="form-group">
                                          <input type="text" name="name" class="form-control" placeholder="Name" required>
                                      </div>

                                       <div class="form-group">
                                          <input type="email" name="email" class="form-control" placeholder="E-mail" required>
                                      </div>

                                      <div class="form-group">
                                          <textarea name="message" class="form-control" placeholder="Message" required></textarea>
                                      </div>

                                      <div class="form-group alerts">

                                          <div class="alert alert-success" role="alert">

                                          </div>

                                          <div class="alert alert-danger" role="alert">

                                          </div>

                                      </div>

                                       <div class="form-group">
                                          <button type="submit" class="btn btn-submit pull-right">Send message</button>
                                      </div>

                                  </form>

                              </div>

                              </div>
                          </div>

                      </div>

                  </div>
                  <div class="clearfix"></div>



              </div>


          </div>


      </div>

      <div class="footer-bottom">

          <div class="container text-right">
              Sadaka @ copyrights 2018 - by <a href="" target="_blank">Sadaka</a>
          </div>
      </div>

  </footer> <!-- main-footer -->

