<div class="page-heading text-center">

  <div class="container zoomIn animated">

    <h1 class="page-title">ABOUT US
      <span class="title-under"></span>
    </h1>
    <p class="page-description">
      We set out to change that by creating a company founded on the desire to blend a business opportunity with a chance to do
      some good.
    </p>

  </div>

</div>


<div class="main-container">

  <div class="container">

    <div class="row fadeIn animated">

      <div class="col-md-6">

        <img src="assets/images/about-us.jpg" alt="" class="img-responsive">

      </div>

      <div class="col-md-6">

        <h2 class="title-style-2">ABOUT SADAKA
          <span class="title-under"></span>
        </h2>

        <p>
          Sadaka is a donation platform that allows you to support a cause of your choice from about 200 NGOs that have been scrutinised
          for transparency & credibility.</p>

        <p>
          We do not raise funds for ourselves. We help you donate to these NGOs.</p>

        <p>

          We tell you exactly where your money went and also give you proof of it through a feedback report. (except in the case of
          donations through an iGive page) We ensure that at least 90% of your contribution reaches the organization you
          support (as against the average of 60% for the NGO sector).
        </p>

        <p>
          We have reviewed over 3,000 non-profit organizations from all over India to identify over 200 organizations that have met
          with the GiveIndia's Listing Criteria. They work for causes ranging from child welfare and education to disability,
          poverty, and women's empowerment to name a few.
        </p>

        <p>
          We are proud to be the world’s leading expert on children, delivering lasting results for millions of vulnerable girls and
          boys. By saving the world’s children, we transform their lives and the future we share.


        </p>

      </div>

    </div>
    <!-- /.row -->

    <div class="section-home about-us">


      <div class="row">

        <div class="col-md-3 col-sm-6">

          <div class="about-us-col">

            <div class="col-icon-wrapper">
              <img src="assets/images/icons/our-mission-icon.png" alt="">
            </div>
            <h3 class="col-title">our mission</h3>
            <div class="col-details">

              <p>Forgotten Children Worldwide safeguards orphans and vulnerable children from poverty, abandonment.</p>

            </div>
            <a href="#" class="btn btn-primary"> Read more </a>

          </div>

        </div>


        <div class="col-md-3 col-sm-6">

          <div class="about-us-col">

            <div class="col-icon-wrapper">
              <img src="assets/images/icons/make-donation-icon.png" alt="">
            </div>
            <h3 class="col-title">Make donations</h3>
            <div class="col-details">

              <p>Thanks very much for your interest in supporting us financially by donating to our orphanage</p>

            </div>
            <a href="#" class="btn btn-primary"> Read more </a>

          </div>

        </div>


        <div class="col-md-3 col-sm-6">

          <div class="about-us-col">

            <div class="col-icon-wrapper">
              <img src="assets/images/icons/help-icon.png" alt="">
            </div>
            <h3 class="col-title">Help & support</h3>
            <div class="col-details">

              <p>We at Sadaka are committed to work for the most marginalised children of our society.</p>

            </div>
            <a href="#" class="btn btn-primary"> Read more </a>

          </div>

        </div>


        <div class="col-md-3 col-sm-6">

          <div class="about-us-col">

            <div class="col-icon-wrapper">
              <img src="assets/images/icons/programs-icon.png" alt="">
            </div>
            <h3 class="col-title">our programs</h3>
            <div class="col-details">

              <p>Sadaka works for and with children, it works for equality, equal education, equal nutrition.</p>

            </div>
            <a href="#" class="btn btn-primary"> Read more </a>

          </div>

        </div>



      </div>
      <!-- /.row -->


    </div>

  </div>
  <!-- /.about-us -->


  <div class="our-team animate-onscroll fadeIn">

    <div class="container">

      <h2 class="title-style-1">Our Team
        <span class="title-under"></span>
      </h2>

      <div class="row">

        <div class="col-md-2 col-sm-6 col-md-offset-1">

          <div class="team-member">

            <div class="thumnail">

              <img src="assets/images/team/member-.jpg" alt="" class="cause-img">

            </div>



            <h4 class="member-name">
              <a href="#">Sanket Bagul</a>
            </h4>

            <div class="member-position">
              CO-FOUNDER
            </div>

            <div class="btn-holder">

              <a href="#" class="btn">
                <i class="fa fa-envelope"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-google"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-linkedin"></i>
              </a>

            </div>



          </div>
          <!-- /.team-member -->

        </div>

        <div class="col-md-2 col-sm-6">

          <div class="team-member">

            <div class="thumnail">

              <img src="assets/images/team/member-.jpg" alt="" class="cause-img">

            </div>



            <h4 class="member-name">
              <a href="#">Madhuri Sakunde</a>
            </h4>

            <div class="member-position">
              CO-FOUNDER
            </div>

            <div class="btn-holder">

              <a href="#" class="btn">
                <i class="fa fa-envelope"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-google"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-linkedin"></i>
              </a>

            </div>



          </div>
          <!-- /.team-member -->

        </div>

        <div class="col-md-2 col-sm-6">

          <div class="team-member">

            <div class="thumnail">

              <img src="assets/images/team/member-.jpg" alt="" class="cause-img">

            </div>



            <h4 class="member-name">
              <a href="#">Allison J. Falls</a>
            </h4>

            <div class="member-position">
              CO-FOUNDER
            </div>

            <div class="btn-holder">

              <a href="#" class="btn">
                <i class="fa fa-envelope"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-google"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-linkedin"></i>
              </a>

            </div>



          </div>
          <!-- /.team-member -->

        </div>

        <div class="col-md-2 col-sm-6">

          <div class="team-member">

            <div class="thumnail">

              <img src="assets/images/team/member-.jpg" alt="" class="cause-img">

            </div>



            <h4 class="member-name">
              <a href="#">Akshada</a>
            </h4>

            <div class="member-position">
              CO-FOUNDER
            </div>

            <div class="btn-holder">

              <a href="#" class="btn">
                <i class="fa fa-envelope"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-google"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-linkedin"></i>
              </a>

            </div>

          </div>


        </div>

        <div class="col-md-2 col-sm-6">

          <div class="team-member">

            <div class="thumnail">

              <img src="assets/images/team/member-.jpg" alt="" class="cause-img">

            </div>



            <h4 class="member-name">
              <a href="#">Akshada</a>
            </h4>

            <div class="member-position">
              CO-FOUNDER
            </div>

            <div class="btn-holder">

              <a href="#" class="btn">
                <i class="fa fa-envelope"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-google"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-linkedin"></i>
              </a>

            </div>

          </div>


        </div>
        <!-- /.team-member -->

      </div>

    </div>
    <!-- /.row -->

  </div>

</div>

<div class="page-heading text-center">

  <div class="container zoomIn animated">

    <h1 class="page-title">ABOUT US
      <span class="title-under"></span>
    </h1>
    <p class="page-description">
      We set out to change that by creating a company founded on the desire to blend a business opportunity with a chance to do
      some good.
    </p>

  </div>

</div>

<div class="main-container">

  <div class="container">

    <div class="row fadeIn animated">

      <div class="col-md-6">

        <img src="assets/images/about-us.jpg" alt="" class="img-responsive">

      </div>

      <div class="col-md-6">

        <h2 class="title-style-2">ABOUT SADAKA
          <span class="title-under"></span>
        </h2>

        <p>
          Sadaka is a donation platform that allows you to support a cause of your choice from about 200 NGOs that have been scrutinised
          for transparency & credibility.</p>

        <p>
          We do not raise funds for ourselves. We help you donate to these NGOs.</p>

        <p>

          We tell you exactly where your money went and also give you proof of it through a feedback report. (except in the case of
          donations through an iGive page) We ensure that at least 90% of your contribution reaches the organization you
          support (as against the average of 60% for the NGO sector).
        </p>

        <p>
          We have reviewed over 3,000 non-profit organizations from all over India to identify over 200 organizations that have met
          with the GiveIndia's Listing Criteria. They work for causes ranging from child welfare and education to disability,
          poverty, and women's empowerment to name a few.
        </p>

        <p>
          We are proud to be the world’s leading expert on children, delivering lasting results for millions of vulnerable girls and
          boys. By saving the world’s children, we transform their lives and the future we share.


        </p>

      </div>

    </div>
    <!-- /.row -->

    <div class="section-home about-us">


      <div class="row">

        <div class="col-md-3 col-sm-6">

          <div class="about-us-col">

            <div class="col-icon-wrapper">
              <img src="assets/images/icons/our-mission-icon.png" alt="">
            </div>
            <h3 class="col-title">our mission</h3>
            <div class="col-details">

              <p>Forgotten Children Worldwide safeguards orphans and vulnerable children from poverty, abandonment.</p>

            </div>
            <a href="#" class="btn btn-primary"> Read more </a>

          </div>

        </div>


        <div class="col-md-3 col-sm-6">

          <div class="about-us-col">

            <div class="col-icon-wrapper">
              <img src="assets/images/icons/make-donation-icon.png" alt="">
            </div>
            <h3 class="col-title">Make donations</h3>
            <div class="col-details">

              <p>Thanks very much for your interest in supporting us financially by donating to our orphanage</p>

            </div>
            <a href="#" class="btn btn-primary"> Read more </a>

          </div>

        </div>


        <div class="col-md-3 col-sm-6">

          <div class="about-us-col">

            <div class="col-icon-wrapper">
              <img src="assets/images/icons/help-icon.png" alt="">
            </div>
            <h3 class="col-title">Help & support</h3>
            <div class="col-details">

              <p>We at Sadaka are committed to work for the most marginalised children of our society.</p>

            </div>
            <a href="#" class="btn btn-primary"> Read more </a>

          </div>

        </div>


        <div class="col-md-3 col-sm-6">

          <div class="about-us-col">

            <div class="col-icon-wrapper">
              <img src="assets/images/icons/programs-icon.png" alt="">
            </div>
            <h3 class="col-title">our programs</h3>
            <div class="col-details">

              <p>Sadaka works for and with children, it works for equality, equal education, equal nutrition.</p>

            </div>
            <a href="#" class="btn btn-primary"> Read more </a>

          </div>

        </div>



      </div>
      <!-- /.row -->


    </div>

  </div>
  <!-- /.about-us -->


  <div class="our-team animate-onscroll fadeIn">

    <div class="container">

      <h2 class="title-style-1">Our Team
        <span class="title-under"></span>
      </h2>

      <div class="row">

        <div class="col-md-2 col-sm-6 col-md-offset-1">

          <div class="team-member">

            <div class="thumnail">

              <img src="assets/images/team/member-.jpg" alt="" class="cause-img">

            </div>



            <h4 class="member-name">
              <a href="#">Sanket Bagul</a>
            </h4>

            <div class="member-position">
              CO-FOUNDER
            </div>

            <div class="btn-holder">

              <a href="#" class="btn">
                <i class="fa fa-envelope"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-google"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-linkedin"></i>
              </a>

            </div>



          </div>
          <!-- /.team-member -->

        </div>

        <div class="col-md-2 col-sm-6">

          <div class="team-member">

            <div class="thumnail">

              <img src="assets/images/team/member-.jpg" alt="" class="cause-img">

            </div>



            <h4 class="member-name">
              <a href="#">Madhuri Sakunde</a>
            </h4>

            <div class="member-position">
              CO-FOUNDER
            </div>

            <div class="btn-holder">

              <a href="#" class="btn">
                <i class="fa fa-envelope"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-google"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-linkedin"></i>
              </a>

            </div>



          </div>
          <!-- /.team-member -->

        </div>

        <div class="col-md-2 col-sm-6">

          <div class="team-member">

            <div class="thumnail">

              <img src="assets/images/team/member-.jpg" alt="" class="cause-img">

            </div>



            <h4 class="member-name">
              <a href="#">Paresh Patil</a>
            </h4>

            <div class="member-position">
              CO-FOUNDER
            </div>

            <div class="btn-holder">

              <a href="#" class="btn">
                <i class="fa fa-envelope"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-google"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-linkedin"></i>
              </a>

            </div>



          </div>
          <!-- /.team-member -->

        </div>

        <div class="col-md-2 col-sm-6">

          <div class="team-member">

            <div class="thumnail">

              <img src="assets/images/team/member-.jpg" alt="" class="cause-img">

            </div>



            <h4 class="member-name">
              <a href="#">Akshada Wagh</a>
            </h4>

            <div class="member-position">
              CO-FOUNDER
            </div>

            <div class="btn-holder">

              <a href="#" class="btn">
                <i class="fa fa-envelope"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-google"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-linkedin"></i>
              </a>

            </div>

          </div>


        </div>

        <div class="col-md-2 col-sm-6">

          <div class="team-member">

            <div class="thumnail">

              <img src="assets/images/team/member-.jpg" alt="" class="cause-img">

            </div>



            <h4 class="member-name">
              <a href="#">Harsha Kamble</a>
            </h4>

            <div class="member-position">
              CO-FOUNDER
            </div>

            <div class="btn-holder">

              <a href="#" class="btn">
                <i class="fa fa-envelope"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-google"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" class="btn">
                <i class="fa fa-linkedin"></i>
              </a>

            </div>

          </div>


        </div>
        <!-- /.team-member -->

      </div>

    </div>
    <!-- /.row -->

  </div>

</div>



<!-- </div> -->
