
    <div class="section-home about-us fadeIn animated">

        <div class="container">

            <div class="row">

                <div class="col-md-3 col-sm-6">

                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <img src="assets/images/icons/our-mission-icon.png" alt="">
                        </div>
                        <h3 class="col-title">our mission</h3>
                        <div class="col-details">

                          <p>Forgotten Children Worldwide safeguards orphans and vulnerable children from poverty, abandonment.</p>

                        </div>
                        <a href="#" class="btn btn-primary"> Read more </a>

                  </div>

                </div>


                <div class="col-md-3 col-sm-6">

                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <img src="assets/images/icons/make-donation-icon.png" alt="">
                        </div>
                        <h3 class="col-title">Make donations</h3>
                        <div class="col-details">

                          <p>Thanks very much for your interest in supporting us financially by donating to our orphanage</p>

                        </div>
                        <a href="#" class="btn btn-primary"> Read more </a>

                  </div>

                </div>


                <div class="col-md-3 col-sm-6">

                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <img src="assets/images/icons/help-icon.png" alt="">
                        </div>
                        <h3 class="col-title">Help & support</h3>
                        <div class="col-details">

                          <p>We at Sadaka are committed to work for the most marginalised children of our society.</p>

                        </div>
                        <a href="#" class="btn btn-primary"> Read more </a>

                  </div>

                </div>


                <div class="col-md-3 col-sm-6">

                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <img src="assets/images/icons/programs-icon.png" alt="">
                        </div>
                        <h3 class="col-title">What we do</h3>
                        <div class="col-details">

                          <p>Sadaka works for and with children, it works for equality, equal education, equal nutrition.</p>


                        </div>
                        <a href="#" class="btn btn-primary"> Read more </a>

                  </div>

                </div>



            </div>

        </div>

    </div> <!-- /.about-us -->

    <div class="section-home home-reasons">

        <div class="container">

            <div class="row">

                <div class="col-md-6">

                    <div class="reasons-col animate-onscroll fadeIn">

                        <img src="assets/images/reasons/we-fight-togother.jpg" alt="">

                        <div class="reasons-titles">

                            <h3 class="reasons-title">We fight together</h3>
                            <h5 class="reason-subtitle">We are humans</h5>

                        </div>

                        <div class="on-hover hidden-xs">

                        <p>Health & Nutrition
                            We provide robust health and nutrition benefits to the children coming from the most marginalised communities.</p>
                        <p>Education
                                We help children with limited means get access to quality education, with a focus on street children and girls.</p>
                        <p>Child protection
                            All children have the right to a healthy, happy and fulfilling life. Donate Money & Support Charity to Keep children safe & free from harm. You can also donate online to support a Child Protection Programme.</p>
                        <p>Emergencies
                            Children can't wait for help in the times of crisis. We work to help children move past the trauma of a disaster and rebuild their lives.</p>
                        </div>
                    </div>

                </div>


                <div class="col-md-6">

                    <div class="reasons-col animate-onscroll fadeIn">

                        <img src="assets/images/reasons/we-care-about.jpg" alt="">

                        <div class="reasons-titles">

                            <h3 class="reasons-title">WE care about others</h3>
                            <h5 class="reason-subtitle">We are humans</h5>

                        </div>

                        <div class="on-hover hidden-xs">

                                <p>One of our core focusses apart from working on the ground is Advocacy and influencing policy. We believe that unless we continuously work with Government, National and International bodies to raise issues that need resolution or policies that need change, our work will not be complete.</p>

                                   <p> Save the Children spends funds collected where it is most needed, by spending in programmes across India that help improve the health and education situation of children as well as take them out of child labour, child marriage, child pregnancies, abuse and emergency situations.</p>

                                    <p>We believe that if there is one fund in which Indians should donate, it is Save the Children. Save the Children has a strong base of over 1,44,230+ individual supporters who donate money; it has 35 corporate and 38 Institutional supporters.</p>


                        </div>


                    </div>

                </div>


            </div>



        </div>


    </div> <!-- /.home-reasons -->

    <div class="section-home our-causes animate-onscroll fadeIn">

        <div class="container">

            <h2 class="title-style-1">Our Causes<span class="title-under"></span></h2>

            <div class="row">

                <div class="col-md-3 col-sm-6">

                    <div class="cause">

                        <img src="assets/images/causes/cause-hunger.jpg" alt="" class="cause-img">

                        <div class="progress cause-progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: auto;">
                            <span style="padding-left: 10px;padding-right: 10px">₹10000 /₹25000</span>
                          </div>
                        </div>

                        <h4 class="cause-title"><a href="#">HUNGER AND POVERTY </a></h4>
                        <div class="cause-details">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at eros rutrum turpis viverra elementum semper quis ex. Donec lorem nulla, aliquam quis neque vel, maximus lacinia urna.
                        </div>

                        <div class="btn-holder text-center">

                          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal"> DONATE NOW</a>

                        </div>



                    </div> <!-- /.cause -->

                </div>

                <div class="col-md-3 col-sm-6">

                    <div class="cause">

                        <img src="assets/images/causes/cause-education.jpg" alt="" class="cause-img">

                        <div class="progress cause-progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            ₹30000 / ₹50000
                          </div>
                        </div>

                        <h4 class="cause-title"><a href="#">EDUCATION AND TRAINING</a></h4>
                        <div class="cause-details">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at eros rutrum turpis viverra elementum semper quis ex. Donec lorem nulla, aliquam quis neque vel, maximus lacinia urna.
                        </div>

                        <div class="btn-holder text-center">

                          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal"> DONATE NOW</a>

                        </div>



                    </div> <!-- /.cause -->

                </div>


                <div class="col-md-3 col-sm-6">

                    <div class="cause">

                        <img src="assets/images/causes/cause-rights.jpg" alt="" class="cause-img">

                        <div class="progress cause-progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                            ₹25000 / ₹70000
                          </div>
                        </div>

                        <h4 class="cause-title"><a href="#">HUMAN RIGHTS</a></h4>
                        <div class="cause-details">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at eros rutrum turpis viverra elementum semper quis ex. Donec lorem nulla, aliquam quis neque vel, maximus lacinia urna.
                        </div>

                        <div class="btn-holder text-center">

                          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal"> DONATE NOW</a>

                        </div>



                    </div> <!-- /.cause -->

                </div>

                <div class="col-md-3 col-sm-6">

                    <div class="cause">

                        <img src="assets/images/causes/cause-culture.jpg" alt="" class="cause-img">

                        <div class="progress cause-progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            ₹25000 / ₹70000
                          </div>
                        </div>

                        <h4 class="cause-title"><a href="#">ARTS AND CULTURE </a></h4>
                        <div class="cause-details">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at eros rutrum turpis viverra elementum semper quis ex. Donec lorem nulla, aliquam quis neque vel, maximus lacinia urna.
                        </div>

                        <div class="btn-holder text-center">

                          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal"> DONATE NOW</a>

                        </div>



                    </div> <!-- /.cause -->

                </div>

            </div>

        </div>

    </div> <!-- /.our-causes -->

    <div class="section-home our-sponsors animate-onscroll fadeIn">

        <div class="container">

            <h2 class="title-style-1">Our Sponsors <span class="title-under"></span></h2>

            <ul class="owl-carousel list-unstyled list-sponsors">

              <li> <img src="assets/images/sponsors/bus.png" alt=""></li>
              <li> <img src="assets/images/sponsors/wikimedia.png" alt=""></li>
              <li> <img src="assets/images/sponsors/one-world.png" alt=""></li>
              <li> <img src="assets/images/sponsors/wikiversity.png" alt=""></li>
              <li> <img src="assets/images/sponsors/united-nations.png" alt=""></li>

              <li> <img src="assets/images/sponsors/bus.png" alt=""></li>
              <li> <img src="assets/images/sponsors/wikimedia.png" alt=""></li>
              <li> <img src="assets/images/sponsors/one-world.png" alt=""></li>
              <li> <img src="assets/images/sponsors/wikiversity.png" alt=""></li>
              <li> <img src="assets/images/sponsors/united-nations.png" alt=""></li>

            </ul>

        </div>

    </div> <!-- /.our-sponsors -->


    <div class="section-donaters">
      <div class="donation-01">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non alias, magnam quasi,
              doloribus dolore magni perspiciatis, cumque consequuntur hic debitis ipsam libero
              amet aut explicabo voluptas sit ipsum dolores. Fuga.
            </p>
      </div>
      <div class="donation-01">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non alias, magnam quasi,
              doloribus dolore magni perspiciatis, cumque consequuntur hic debitis ipsam libero
              amet aut explicabo voluptas sit ipsum dolores. Fuga.
            </p>
      </div>
      <div class="donation-01">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non alias, magnam quasi,
              doloribus dolore magni perspiciatis, cumque consequuntur hic debitis ipsam libero
              amet aut explicabo voluptas sit ipsum dolores. Fuga.
            </p>
      </div>
      <div class="donation-01">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non alias, magnam quasi,
              doloribus dolore magni perspiciatis, cumque consequuntur hic debitis ipsam libero
              amet aut explicabo voluptas sit ipsum dolores. Fuga.
            </p>
      </div>
    </div>
